body {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 80px;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-blue: #1fc2be;
  --secondary-blue: #4dddd7;
  --primary-grey: #37474f;
  --secondary-grey: #90a4ae;
}

/* BUTTONS */

.btn-primary {
  background-color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
}

.btn-primary:hover {
  background-color: var(--secondary-blue);
  border: 2px solid var(--primary-blue);
}

.btn-outline-primary {
  border: 2px solid var(--primary-blue);
  color: var(--primary-grey);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
}

.btn-outline-primary:hover {
  background-color: var(--secondary-grey);
  border-color: var(--secondary-grey);
}

.btn-outline-primary.active {
  background-color: var(--primary-blue);
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
}

/* HELPERS */

.bg-primary {
  background-color: var(--primary-blue) !important;
}

.bg-primary-grey {
  background-color: var(--primary-grey) !important;
}

.bg-custom-grey-light {
  background-color: #f5f5f5 !important;
}

.text-primary-blue {
  color: var(--primary-blue);
}

.text-primary-grey {
  color: var(--primary-grey);
}

.text-secondary-grey {
  color: var(--secondary-grey);
}

.text-small {
  font-size: 14px !important;
}

.gap-section {
  padding: 5rem 0;
}
