body {
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --primary-blue: #1fc2be;
  --secondary-blue: #4dddd7;
  --primary-grey: #37474f;
  --secondary-grey: #90a4ae;
}

/* BUTTONS */

.btn-primary {
  background-color: var(--primary-blue);
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
}

.btn-primary:hover {
  background-color: var(--secondary-blue);
}

.btn-outline-primary {
  border: 2px solid var(--primary-blue);
  color: var(--primary-grey);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
}

.btn-outline-primary:hover {
  background-color: var(--secondary-grey);
  border-color: var(--secondary-grey);
}

/* HELPERS */

.text-primary-grey {
  color: var(--primary-grey);
}

.text-secondary-grey {
  color: var(--secondary-grey);
}
